label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wm-ui-generic-frame {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#0F0F0F;
    position:relative;
}

.wm-ui-all-border {
    border:1px solid #1e1e1e;
}

.wm-ui-top-border {
    border-top:1px solid #1e1e1e;
}

.wm-ui-bottom-border {
    border-bottom:1px solid #1e1e1e;
}

.wm-ui-left-border {
    border-left:1px solid #1e1e1e;
}

.wm-ui-right-border {
    border-right:1px solid #1e1e1e;
}

.wm-ui-content-fontstyle {
	font-size:15px;
}

.wm-ui-btn {
	background: #1c1c1c;
	background: -moz-linear-gradient(top,  #1c1c1c 0%, #1a1a1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#1a1a1a));
	background: -webkit-linear-gradient(top,  #1c1c1c 0%,#1a1a1a 100%);
	background: -o-linear-gradient(top,  #1c1c1c 0%,#1a1a1a 100%);
	background: -ms-linear-gradient(top,  #1c1c1c 0%,#1a1a1a 100%);
	background: linear-gradient(to bottom,  #1c1c1c 0%,#1a1a1a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#1a1a1a',GradientType=0 );
	text-shadow: 2px 2px 2px #202020;
	font-family:"FuturaEF-Book";
	color:#999;
	font-size:14px;
	width:193px;
	height:42px;
	border-radius:4px;
	line-height:42px;
	text-align:center;
	cursor:pointer;
	border:none;
	outline:none;
}

.wm-ui-btn.xs {
    width:inherit;
    height:inherit;
    line-height:inherit;
    padding: 5px 9px;
    font-size:13px;
}

.wm-ui-btn:hover {
	background: #1e1e1e;
	background: -moz-linear-gradient(top,  #1e1e1e 0%, #1a1a1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e1e), color-stop(100%,#1a1a1a));
	background: -webkit-linear-gradient(top,  #1e1e1e 0%,#1a1a1a 100%);
	background: -o-linear-gradient(top,  #1e1e1e 0%,#1a1a1a 100%);
	background: -ms-linear-gradient(top,  #1e1e1e 0%,#1a1a1a 100%);
	background: linear-gradient(to bottom,  #1e1e1e 0%,#1a1a1a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#1a1a1a',GradientType=0 );
}

.wm-ui-captcha-img {
	border:1px solid #1e1e1e;
	vertical-align:middle;
}

.wm-ui-btn:disabled {
	background:#090909;
	color:#606060;
}

.wm-ui-position-abottom {
	position:absolute;
	left:20px;
	bottom:20px;
}

.wm-ui-checkbox-agreement {
	padding-bottom:12px;
}

.wu-ui-servicepage {
	
}

.wm-ui-servicepage .wm-ui-position-abottom {
	bottom:0px;
}

.wm-ui-servicepage h2 {
	font-size:20px;
	color:#c1b575;
	padding:0;
	margin:0;
	font-weight:normal;
}

.wm-ui-input-generic {
	background-color:#060606;
	width:216px;
	height:29px;
	color:#c1b575;
	font-size:14px;
	padding-left:5px;
	padding-top:4px;
	outline:none;
	font-family:"FuturaEF-Book";
}

.wm-ui-input-generic.input-lg {
    width:550px;
}

.wm-ui-input-generic.input-medsmall {
    width:192px;
}

.wm-ui-input-generic.wm-ui-textbox-input, .wm-ui-input-generic.wm-ui-multiselect-input {
    height:inherit;
    overflow:auto;
}
    

.wm-ui-input-generic.wm-ui-captcha-input {
	width:109px;
	margin-left:5px;
}

.wm-ui-checkbox-generic {
	position:absolute; 
    overflow:hidden; 
    clip:rect(0 0 0 0); 
    height:1px; 
    width:1px;
    padding:0;
    border:0;
}

.wm-ui-checkbox-generic + label {
	padding-left:22px;
    margin-top:-5px;
	height:15px;
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	background-image:url(../images/ui_checkbox.png);
}

.wm-ui-checkbox-generic:checked + label {
	background-position: 0 -15px;
}

.wm-ui-generic-subnav {
	margin-top:3px;
}

.wm-ui-generic-subnav table td {
	padding-left:5px;
}

.wm-ui-generic-subnav table td:first-child {
	padding:0;
}

.wm-ui-generic-table { 
    color:#606060;
    width:100%; 
    border-collapse: collapse;
    border-spacing:0;
    font-size:15px;
}

.wm-ui-generic-table td, .wm-ui-generic-table th { 
    height:24px;
}

.wm-ui-generic-table th {
    text-align:left;
    color:#606060;
}

.wm-ui-generic-table td {
    text-align:left;
    border-bottom:1px solid #1e1e1e;
}

.wm-ui-genericform {
	
}

.wm-ui-genericform table, .wm-ui-genericform table td, .wm-ui-generic-subnav table, .wm-ui-generic-subnav td {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin:0;
}
	
.wm-ui-form-identifier {
	padding-left:5px;
}

.wm-ui-static-320h {
    height:320px;
}

.wm-ui-two-side-page-seperator {
    position:absolute;
    left:0px;
    top:15px;
    width:1px;
    height:90%;
    background-color:#1e1e1e;
}

.wm-ui-two-side-page-left {
	position:relative;
	width:50%;
	height:300px;
	float:left;
    margin-left:-3px;
}

.wm-ui-two-side-page-right {
	position:relative;
	width:50%;
	height:300px;
	float:left;
    margin-left:3px;
}

.wm-ui-two-side-page-ulist ul {
	list-style:none;
	padding:0;
	margin:0;
}

.wm-ui-two-side-page-ulist ul li {
	margin-top:15px;
}

.wm-ui-two-side-page-ulist ul li:first-child {
	margin:0;
}

.wm-ui-two-side-page-ulist-nospacing ul li {
	margin-top:5px;
}

.wm-ui-one-side-page {
	position:relative;
}

.wm-ui-two-side-boxes {
	width:50%;
	min-height:200px;
}

.wm-ui-two-side-boxes.left {
	float:left;
    margin-left:-3px;
}

.wm-ui-two-side-boxes.right {
	float:right;
    margin-left:3px;
}

.wm-ui-two-side-boxes.cramped {
    margin:0;
}

.wm-ui-two-side-boxes span:first-child, .wm-ui-one-side-page span:first-child {
	font-size:13px;
}

.wm-ui-two-side-boxes td span:first-child, .wm-ui-one-side-page td span:first-child {
	font-size:15px;
}

.wm-ui-three-side-boxes {
    width:327px;
    float:left;
    margin-left:3px;
}

.wm-ui-three-side-boxes:first-child {
    width:326px;
    margin-left:0px;
}

.wm-ui-baninformation {
    color:#d82323;
    text-align:center;
}

.wm-ui-noticeinformation {
    color:#606060;
    text-align:center;
}

.wm-ui-dropdown-generic {
	display:inline-block !important;
	text-align:left;
	background-color:#0F0F0F;
	font-size:14px;
	float:left;
	min-width:192px;
	color:#c1b575;
	line-height:29px;
	position:relative;
    outline:none;
}

.wm-ui-dropdown-generic a {
    outline:none;
}

.wm-ui-dropdown-generic:first-child {
	z-index:11;
}

.wm-ui-dropdown-generin:nth-child(2) {
	z-index:12;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title {
	background:transparent;
	border:1px solid #1e1e1e;
	cursor:default;
	overflow:hidden;
	height:29px;
	font-family:"FuturaEF-Book";
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	text-align:center;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title > img {
	padding-left:10px;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title img {
	position:relative;
	left:-8px;
	top:3px;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title span.arrow {
	background:url(../images/ui_dropdown.png) no-repeat 0 0;
	position:absolute;
	right:0px;
	display:inline-block;
	width:28px;
	height:28px;
	cursor:pointer;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title span.textTitle {
	text-indent:4px;
	overflow:hidden;
	line-height:22px;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title span.textTitle {
	color:#606060;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title span.textTitle img {
	text-align:left;
	padding:0 2px 0 0
}

.wm-ui-dropdown-generic .wm-ui-dropdown-title img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-child ul {
	border:1px solid #1e1e1e;
	margin:0;
	background-color:#0F0F0F;
	min-width:190px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
    padding:0;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-child ul li {
	display:block;
	text-decoration:none;
	color:#606060;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	outline:none;
	width:190px;
    text-align:center;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-child ul li:hover {
	color:#c1b575;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-child a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}

.wm-ui-dropdown-generic .wm-ui-dropdown-child ul li.selected {
	background-color:#0F0F0F;
	color:#c1b575;
	outline:none;
}

#wm-ui-flash-message {
	position:absolute;
    top:-38px;
	left:5px;
    z-index: 1000;
	max-height:32px;
	overflow:hidden;
}

#wm-ui-flash-message .alert {
    background-color: #000;
    background-color: rgba(20, 20, 20, 0.9);
    text-shadow: 1px 1px black;
    color: #606060;
    padding: 8px 45px 8px 25px;
    box-shadow: 4px 3px 15px rgba(0,0,0,0.9);
    border: 0;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    display: none;
    z-index: 1000;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
	font-family:"FuturaEF-Book";
	font-size:14px;
	text-align:center;
    position:relative;
}

#wm-ui-flash-message .alert.alert-success {
	color:#99aa00;
}

#wm-ui-flash-message .alert.alert-error {
	color:#ec0303;
}

#wm-ui-flash-message .alert.alert-warning {
	
}

#wm-ui-flash-message .alert.alert-info {
	
}

#wm-ui-flash-message .alert .close {
    color: white;
    color: rgba(50, 50, 50, 0.8);
    text-shadow: 0 1px 0 #000;
    opacity: 1;
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

#wm-ui-plugin-statistics { 
    color:#7e8d09;
    width:100%;
    border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin:0;
}

#wm-ui-plugin-streams, #wm-ui-plugin-filter { 
    color:#606060;
    width:100%;
    border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin:0;
}

#wm-ui-plugin-statistics td, #wm-ui-plugin-streams td, #wm-ui-plugin-filter td {
    border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin:0;
}

#wm-ui-plugin-statistics td span {
    font-size:13px;
    font-family:'FuturaEF-Book';
    color:#d79602;
}

#wm-ui-plugin-streams td span {
    font-size:15px;
    font-family:'FuturaEF-Book';    
}

#wm-ui-plugin-streams td a {
    overflow:hidden;
}

#wm-ui-plugin-streams td a.active {
    color:#c1b575;
}

#wm-ui-plugin-statistics .statistics {
    text-align:right;
}

#wm-ui-plugin-statistics .seperator, #wm-ui-plugin-streams .seperator {
    height:1px;
    background-color:#1e1e1e;
    width:100%;
}

#wm-ui-plugin-statistics .spacer {
    height:10px;
}

#wm-ui-plugin-streams .spacer {
    height:6px;
}

.wm-ui-streamingbox {
    margin-left:-3px;
    float:left;
    width:75%;
    height:450px;
}

.wm-ui-streamingbox div {
    margin-top:30%;
    text-align:center
}

#wm-theme-navigation {
    position:absolute;
    right:15px;
    bottom:15px;
    width:150px;
    height:15px;
    z-index:5; 
}

#wm-theme-navigation a {
	background:#404040;
	text-decoration: none;
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	text-align: center;
	margin: 0 3px;
	font-size: 10px;
	font-weight: 700;
	border-radius: 2px;
	cursor: pointer;
}

#wm-theme-navigation a:hover, #wm-theme-navigation a.active {
	background:#505050;
}

.wm-ui-hyper-custom-b a, a.wm-ui-hyper-custom-b {
    color:#6185aa;
}

.wm-ui-hyper-custom-b a:hover, a.wm-ui-hyper-custom-b:hover {
    color:#688eb6;
}

.wm-ui-article-title {
    margin-left:-20px;
    padding:0;
    width:738px;
}

.wm-ui-article-title p:first-child {
    text-align:left;
    margin-left:20px;
    margin-right:0;
    float:left;
}

.wm-ui-article-title p {
    color:#7e8d09;
    text-align:right;
    padding:0;
    margin-right:20px;
    line-height:18px;
}

.wm-ui-article-content p {
    line-height:18px;
}

.h-5 {
    height:5px !important;
}

.h-10 {
    height:10px !important;
}

.h-15 {
    height:15px !important;
}

.h-20 {
    height:20px !important;
}

.wm-ui-information-block .wm-ui-statistics.first {
    margin-left:0;
}
.wm-ui-information-block .wm-ui-statistics {
    margin-left:20px;
    color:#606060;
    width:300px;
    float:left;
}

.wm-ui-information-block .wm-ui-statistics .wm-ui-statistics-graph {
    width:300px;height:180px;
}

.wm-ui-information-block .expansion-name {
    font-size:20px;
    color:#4c8dd0;
    padding:0px;
    margin-bottom:10px;
    font-weight:normal;
}

.wm-ui-information-block .expansion-2 {
    color:#4c8dd0;
}

.wm-ui-information-block .expansion-3 {
    color:#d79602;
}

.wm-ui-information-block .expansion-4 {
    color:#25bdb1;
}

.wm-ui-information-block .wm-ui-statistics .stats {
    width:300px;
    height:16px;
    overflow:hidden;
}

.wm-ui-information-block .wm-ui-statistics .stats div { 
    float:left;
    margin-left:5px;
}

.wm-ui-information-block .wm-ui-statistics .stats div:first-child {
    margin-left:0;
}

textarea {
    resize:none;
}

.wm-ui-generic-bbutton {
    cursor: pointer;
    padding: 5px 9px;
    font-size:13px;
    font-family:'FuturaEF-Book';
    border: 1px solid #1e1e1e;
    color: #606060;
    background: #0f0f0f;
}

.wm-ui-modal-box {
	position: fixed;
	font-family:'FuturaEF-Book';
    font-size:15px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.wm-ui-modal-box:target {
	opacity:1;
	pointer-events: auto;
}

.wm-ui-modal-box > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #0f0f0f;
    border:1px solid #1e1e1e;
}

.wm-ui-modal-box .close {
	background: #202020;
	color: #606060;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.wm-ui-modal-box .close:hover {
    background: #101010;
}