@charset "utf-8";

/*
 * TODO: RUN THROUGH PREFIXR
 */

 
/* =========== Fonts =========== */
@font-face {
	font-family:'MuseoSans';
	src:url('../../../fonts/MuseoSans_500-webfont.eot');
	src:url('../../../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/MuseoSans_500-webfont.woff') format('woff'),
		url('../../../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
		url('../../../fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'MuseoSlab';
	src:url('../../../fonts/Museo_Slab_500-webfont.eot');
	src:url('../../../fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/Museo_Slab_500-webfont.woff') format('woff'),
		url('../../../fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
		url('../../../fonts/Museo_Slab_500-webfont.svg#Museo_Slab500') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* =========== General =========== */
body {
	font-family:MuseoSans, Arial, Helvetica, Sans-seif;
	font-size:12px;
	color:#864f1f;
	background-image:url(../images/lower_bg.jpg), url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom center, top center;
	background-color:#060606;
	text-shadow:1px 1px 0px #000;
}

*, ul, li, h1, h2, p, b {
	font-weight:normal;
	margin:0px;
	padding:0px;
	list-style:none;
	line-height:1.5;
}

*:focus {
	outline:none;
}

.clear {
	clear:both;
}

input, select, textarea {
	box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

a {
	text-decoration:none;
	color:#600000;
}

a:hover {
	color:#A07332;
}

a img {
	border:none;
}

#left #left_menu li a, #top_menu li a, footer #logo {
	transition:0.3s all;
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
	-ms-transition:0.3s all;
	-o-transition:0.3s all;
}

/* =========== Main =========== */
#hand {
	background-image:url(../images/hand.png);
	position:absolute;
	height:175px;
	width:175px;
	margin-left:28px;
	margin-top:-58px;
	z-index:3;
}

#bottom_bg {
	position:absolute;
	background-image:url(../images/lower_bg.jpg);
	height:913px;
	width:1650px;
	left:50%;
	margin-left:-825px;
	z-index:1;
}

#wrapper {
	width:1020px;
	margin-top:280px;
	margin-bottom:119px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/body_bg.png);
}

#main {
	min-height:1600px;
}

/* =========== Top menu =========== */
#wrapper #top_menu {
	height:70px;
	background-image:url(../images/menu.png);
}

#top_menu li {
	float:left;
}

#top_menu li a {
	display:block;
	margin-top:5px;
	font-family:MuseoSlab;
	font-size:16px;
	color:#d38a52;
	padding:18px 26px;
	border-right:1px solid #380000;
	border-left:1px solid #1e0000;
}

#top_menu li a:hover {
	color:#a90202;
	background-color:rgba(0,0,0,0.2);
}

/* We don't want half borders on the first and last ones */
#top_menu li:first-child a {
	border-left:none;
}

#top_menu li:last-child a {
	border-right:none;
}

/* Move the first link away from the panda's hand */
#top_menu li:first-child {
	margin-left:180px;
}

/* =========== Left =========== */
#left {
	width:285px;
	float:left;
}

#left article {
	border-right:1px solid #140000;
	box-shadow:1px 1px 0px #2a0000;
	-ms-box-shadow:1px 1px 0px #020508;
	-o-box-shadow:1px 1px 0px #020508;
	-moz-box-shadow:1px 1px 0px #020508;
	-webkit-box-shadow:1px 1px 0px #020508;
	background-color:rgba(0,0,0,0.2);
}

#left article:last-child {
	border-bottom:1px solid #140000;
	border-bottom-right-radius:3px;
}

#left article .top {
	background-image:url(../images/side_top.png);
	height:34px;
	width:284px;
	padding-top:13px;
	text-align:center;
	color:#cf9139;
	font-size:14px;
	font-family:MuseoSlab;
}

#left article .body {
	padding:15px;
}

#left #left_menu li:nth-child(even) a {

}

#left #left_menu li a {
		background-image:url(../images/menbutt.png);
	display:block;
	padding:10px;
	font-size:14px;
	color:#864f1f;
	padding-left:20px;
}

#left #left_menu a img {
	margin-right:15px;
}

#left #left_menu li a:hover {
	color:#cf9139;
	padding-left:40px;
}

#left .side_divider {
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/side_divider.png);
	height:25px;
	width:258px;
	margin-top:15px;
}

/* =========== Right =========== */
#right {
	width:734px;
	float:right;
	margin-right:1px;
}

#right article {
	box-shadow:1px 1px 0px #140000;
	-webkit-box-shadow:1px 1px 0px #020508;
	-o-box-shadow:1px 1px 0px #020508;
	-ms-box-shadow:1px 1px 0px #020508;
	-moz-box-shadow:1px 1px 0px #020508;
	background-color:#130000;
}

#right article:last-child {
	border-bottom:1px solid #140000;
	margin-bottom:20px;
}

#right article .top {
	background-image:url(../images/main_top.png);
	height:37px;
	width:734px;
	padding-top:10px;
	text-align:center;
	color:#cf9139;
	font-size:18px;
	font-family:MuseoSlab;
	display:block;
}

#right article .body {
	padding:15px;
}

#right article .divider {
	background-image:url(../images/divider.png);
	background-position:center;
	height:32px;
	margin-top:15px;
}

#right article .news_bottom {
	margin-top:15px;
}

#right article .news_bottom a {
	color:#a07332;
}

#right article .news_bottom a:hover {
	color:#fff;
}

#right article .comments_button {
	float:right;
	display:block;
}

.avatar {
	float:left;
	margin-right:15px;
	margin-top:3px;
	margin-bottom:5px;
}

/* =========== Footer =========== */
footer {
	background-image:url(../images/footer.png);
	height:67px;
	color:#350000;
	font-size:14px;
}

footer p {
	display:block;
	padding:24px;
}

footer #logo {
	float:right;
	display:block;
	background-image:url(../images/fusioncms.png);
	width:143px;
	height:20px;
	margin-top:24px;
	margin-right:24px;
}

footer #logo2 {
	float:right;
	display:block;
	background-image:url(../images/lnsmallhov.png);
	width:45px;
	height:30px;
	margin-top:20px;
	margin-right:24px;
}

footer #logo2:hover {
	background-image:url(../images/lnsmall.png);
}



footer #logo:hover {
	background-position:0px 20px;
}


/* =========== CMS: general =========== */
#slider_bg {
	background-color:#000;
	padding:1px;
}

#slider {
	width:733px;
	height:201px;
}

/* =========== CMS: general =========== */
.nice_button, input[type="submit"] {
	background-image:url(../images/button_bg.png);
	height:18px;
	border:1px solid #200000;
	border-top-color:#200000;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	text-align:center;
	padding:8px;
	font-size:12px;
	color:#850000;
	box-shadow:1px 1px 0px #200000;
	-webkit-box-shadow:1px 1px 0px #020508;
	-ms-box-shadow:1px 1px 0px #020508;
	-o-box-shadow:1px 1px 0px #020508;
	-moz-box-shadow:1px 1px 0px #020508;
	text-shadow:1px 1px 0px #000;
	font-family:MuseoSans;
	margin-top:10px;
	background-position:middle;
}

.nice_button:hover, .nice_active, input[type="submit"]:hover {
	background-position:0px 37px;
	color:#A07332;
}

.nice_button:active, input[type="submit"]:active {
	box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-webkit-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-moz-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-ms-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-o-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
}